*{
    margin: 0;
    padding: 0;
    font-family: "Krona One", sans-serif;
    font-weight: 400;
    font-style: normal;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    background-color: #12372A;   
}

.nav-bar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    position: sticky;
    background-color: #0D271E;
    padding: 15px 20px;
    z-index: 999;
}
.logo img {
    width: 50px;
    }
.menu {
    display: flex;
}
.menu li {
    padding-left: 40px;
    font-size: 20px;
    }

.menu li a {
    display: inline-block;
    text-decoration: none;
    color: rgb(255, 255, 255);
    text-align: center;
    transition: 0.15s ease-in-out;
    position: relative;
}

.menu li a::after {
    content: "";
    position: absolute;
    bottom: -7px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: rgb(255, 255, 255);
    transition: 0.15s ease-in-out;
}

.menu li a:hover:after {
    width: 100%;
    }

.open-menu , .close-menu {
    position: absolute;
    color: rgb(255, 255, 255);
    cursor: pointer;
    font-size: 1.5rem;
    display: none;
    }

.open-menu {
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}
.close-menu {
    top: 20px;
    right: 20px;
}


h1{
    font-size: 90px;
    text-align: center;
    color: #FBFADA;
    margin-top: 70px;
}

p {
    font-size: 20px;
    margin-top: 50px;
    color: #fff;
}


hr{
    margin: auto;
    border: 2px solid rgb(255, 255, 255);
    width: 15%;
}

.bg-about img{
    z-index: -999;
    position: absolute
}

.cards-container{
    width: 70%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 130px;
}

.card{
    width: 700px;
    height: 250px;
    margin: auto;
    margin-top: 80px;
    background-color: #0a1f17;
    border-radius: 20px;
    }

.card-text{
    display: flex;
    flex-direction: column;
    float: left;
    text-align: center;
    margin-left: 20px;
    margin-top: -45px;
}

.card-text a{
    color: #ffffff;
    margin-top: 20px;
    font-size: 20px;
}

.card-text a:hover{
    color: #FBFADA;
    transition: 0.3s;
}

.card:hover{
    background-color: #10241c;
    transition: 0.3s;
}

.card h1{
    font-size: 50px;
}

.card p{
    font-size: 15px;
    margin-top: 30px;
}

.card img{
   margin-top: 40px;
   margin-left: 40Px;
}


.footer{
    right: 0;
    left: 0;
    bottom: 0;
    height: 140px;
    margin-top: 100px;
}

.footer-nav{
    font-size: 20px;
    margin-top: 0;
    display: flex;
    justify-content: center;
}

.footer-nav a{
    text-decoration: none;
    color: #FBFADA;
}

.footer-nav li{
    list-style: none;
    margin: 30px 30px;
    font-size: 15px;
}

.footer-nav img{
    margin-top: 20px;
}

.footer-text{
    display: flex;
    justify-content: center;
}

.footer-text p{
   color: #e7e7e3;
   margin-top: 20px;
   font-size: 15px;
}


#check {display: none;}
    @media(max-width: 810px){
        .menu {
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 80%;
            height: 100vh;
            position: fixed;
            top: 0;
            right: -100%;
            z-index: 100;
            background-color: #0a1f17;
            transition: all 0.8s ease-in-out;
            }

        .menu li { 
            margin-top: 40px;
            }
        .menu li a {
            padding: 10px;
        }

    
    .open-menu , .close-menu {display: block;}
    #check:checked ~ .menu {right: 0;}
}

@media only screen and (max-width: 1000px) {
    
    .card img{
        display: none;
    }

    .card{
        display: flex;
        flex-wrap: wrap;
        width: 400px;
    }

    .card-text{
        margin: auto;
        margin-top: -40Px;
      }

    .card-text h1{
      font-size: 40px;
    }

    .card-text p{
        font-size: 12px;
      }
  }

  @media only screen and (max-width: 617px) {

    .footer-nav img{
        display: none;
    }

    .footer-nav li{
        font-size: 12px;
    }

    .footer-text p{
        font-size: 7px;
        margin-top: 20px;
    }

    .card{
        height: 220px;
    }

    .card-text{
        margin: auto;
        margin-top: -50Px;
        width: 95%;
      }

    .card-text h1{
      font-size: 36px;
    }

    .card-text p{
        font-size: 10px;
      }

  }
  