*{
    margin: 0;
    padding: 0;
    font-family: "Krona One", sans-serif;
    font-weight: 400;
    font-style: normal;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    background-color: #12372A;   
}

.nav-bar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    position: sticky;
    background-color: #0D271E;
    padding: 15px 20px;
    z-index: 999;
}
.logo img {
    width: 50px;
    }
.menu {
    display: flex;
}
.menu li {
    padding-left: 40px;
    font-size: 20px;
    }

.menu li a {
    display: inline-block;
    text-decoration: none;
    color: rgb(255, 255, 255);
    text-align: center;
    transition: 0.15s ease-in-out;
    position: relative;
}

.menu li a::after {
    content: "";
    position: absolute;
    bottom: -7px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: rgb(255, 255, 255);
    transition: 0.15s ease-in-out;
}

.menu li a:hover:after {
    width: 100%;
    }

.open-menu , .close-menu {
    position: absolute;
    color: rgb(255, 255, 255);
    cursor: pointer;
    font-size: 1.5rem;
    display: none;
    }

.open-menu {
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}
.close-menu {
    top: 20px;
    right: 20px;
}

.main-element-sport h1{
    font-size: 90px;
    text-align: center;
    color: #FBFADA;
    margin-top: 70px;
}

.main-element-sport h2{
    font-size: 5vw;
    color: #FBFADA;
}

.main-element-sport b{
    color: #FBFADA ;
}

.main-element-sport p{
    font-size: 1.5vw;
    color: white;
    display: block;
    margin-top: 40Px;
    text-align: justify;
    width: 80%;
}

hr{
    margin: auto;
    border: 2px solid rgb(255, 255, 255);
    width: 15%;
}

.bg-about img{
    z-index: -999;
    position: absolute
}

.content-obsah-sport{
    width: 70%;
    display: flex;
    flex-direction: row;
    margin: auto;
    margin-top: 50px; 
}

.content-obsah-reverse{
    width: 70%;
    display: flex;
    flex-direction: row-reverse;
    margin: auto;
    margin-top: 60px; 
}

.content-obsah-sport img {
    margin-top: 100px;
    height: 300px; 
    border-radius: 10px;
    object-fit: cover; 
}

.content-obsah-reverse img {
    margin-top: 110px;
    height: 300px; 
    border-radius: 10px;
    object-fit: cover; 
}

.content-text a{
    color: #FBFADA;
    font-size: 1.2vw
}

.content-text-reverse{
    text-align: right;
}

.content-text-reverse p{
    float: right;
}

#check {display: none;}
    @media(max-width: 810px){
        .menu {
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 80%;
            height: 100vh;
            position: fixed;
            top: 0;
            right: -100%;
            z-index: 100;
            background-color: #0a1f17;
            transition: all 0.8s ease-in-out;
            }

        .menu li { 
            margin-top: 40px;
            }
        .menu li a {
            padding: 10px;
        }

    
    .open-menu , .close-menu {display: block;}
    #check:checked ~ .menu {right: 0;}
}

@media only screen and (max-width: 1000px) {

    .content-obsah-sport{
        display: flex;
        flex-direction: column;
    }

    .content-text{
        margin: auto;
        text-align: center;
    }
    .main-element-sport a{
        font-size: 1.7vw;
    }

    .content-obsah-sport img{
        margin: auto;
        display: flex;
        justify-content: center;
        margin-top: 30px;
        height: 30vw    ;
    }

    .main-element-sport h2{
        font-size: 3vw;
    }

    .content-obsah-reverse{
        display: flex;
        flex-direction: column;
    }

    .content-text-reverse{
        margin: auto;
        text-align: center;
    }

    .main-element-sport p{
       font-size: 2vw;
       margin: auto;
       align-items: center;
       margin-top: 30px;
    }

    .content-text-reverse p{
        float: none;
    }

    .content-obsah-reverse img{
        margin: auto;
        display: flex;
        justify-content: center;
        margin-top: 30px;
        height: 30vw;
    }
}
