*{
    margin: 0;
    padding: 0;
    font-family: "Krona One", sans-serif;
    font-weight: 400;
    font-style: normal;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    background-color: #12372A;   
}

.nav-bar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    position: relative;
    background-color: #0D271E;
    padding: 25px 20px;
    z-index: 999;
}
.logo img {
    width: 50px;
    }
.menu {
    display: flex;
}
.menu li {
    padding-left: 40px;
    font-size: 25px;
    }

.menu li a {
    display: inline-block;
    text-decoration: none;
    color: rgb(255, 255, 255);
    text-align: center;
    transition: 0.15s ease-in-out;
    position: relative;
}

.menu li a::after {
    content: "";
    position: absolute;
    bottom: -7px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: rgb(255, 255, 255);
    transition: 0.15s ease-in-out;
}

.menu li a:hover:after {
    width: 100%;
    }

.open-menu , .close-menu {
    position: absolute;
    color: rgb(255, 255, 255);
    cursor: pointer;
    font-size: 1.5rem;
    display: none;
    }

.open-menu {
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}
.close-menu {
    top: 20px;
    right: 20px;
}


/* Konec navbaru */

/* Vizual */
    
.text-conteiner {
    text-align: center;
    width: 45%;
    margin-top: 120px;
    font-size: 20px;
    margin-left: 20px;
    
}

.socky-conteiner {
    position: absolute;
    bottom: 20px; 
    left: 25%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-text{
    display: flex;
    justify-content: space-between;
    width: 60%;
    margin: auto;
    margin-top: 70px;
    gap: 60px;
}

.main-text img{
    margin: auto;
    margin-top: 30px;
}

.socky-conteiner img {
    margin: 0 10px; 
    height: 50px;
}

.icons-conteiner {
    position: absolute;
    bottom: 30px; 
    left: 25%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.icons-conteiner img {
    margin: 0  0px; 
    height: 9vw;
}

.text-conteiner h1{
    font-size: 90px;
    color: #FBFADA;
    align-items: center;
}

.text-conteiner hr{
    width: 50%;
    margin: auto;
    border: 2px solid rgb(255, 255, 255);
}

h1{
    font-size: 90px;
    text-align: center;
    color: #FBFADA;
    margin-top: 70px;
}

.main-text p{
    font-size: 20px;
}

hr{
    margin: auto;
    border: 2px solid rgb(255, 255, 255);
    width: 25%;
}

b{
    color: #FBFADA;
}

h2{
    font-size: 30px;
    margin-top: 80Px;
    color: #fff;
}

p {
    font-size: 20px;
    margin-top: 50px;
    color: #fff;
}

p a{
    font-size: 1.3vw;
    color: #FBFADA;
}

h2 span {
    color: #FBFADA;
    position: relative;
    font-size: 30px;
}

h2 span::before {
    content: "";
    height: 30px;
    width: 2px;
    position: absolute;
    top: 50%;
    right: -8px;
    background: #FBFADA;
    transform: translateY(-45%);
    animation: blink 0.7s infinite;
}

h2 span.stop-blinking::before {
    animation: none;
}

.bg-img {
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100vh;
    overflow: hidden;
}

.bg-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.bg-about img{
    z-index: -999;
    position: absolute
    
}


.cards-container{
    width: 70%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

.card{
    width: 800px;
    height: 350px;
    margin: auto;
    margin-top: 80px;
    background-color: #0a1f17;
    border-radius: 20px;
}

.card-text{
    display: flex;
    flex-direction: column;
    float: left;
    text-align: center;
    margin-left: 20px;
}

.card-text a{
    color: #ffffff;
    margin-top: 20px;
    font-size: 20px;
}

.card h1{
    font-size: 60px;
}

.card p{
    font-size: 20px;
}

.card img{
    margin-top: 100px;
    margin-left: 10px;

}


@keyframes blink {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

    /* Konec-Vizual */

    /* Responzivita menu */

    #check {display: none;}
    @media(max-width: 810px){
        .menu {
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 80%;
            height: 100vh;
            position: fixed;
            top: 0;
            right: -100%;
            z-index: 100;
            background-color: #0a1f17;
            transition: all 0.8s ease-in-out;
            }

        .menu li { 
            margin-top: 40px;
            }
        .menu li a {
            padding: 10px;
        }

    
    .open-menu , .close-menu {display: block;}
    #check:checked ~ .menu {right: 0;}
}

/* Responzivita puvodni sirky */

@media only screen and (max-width: 1920px) {
    .text-conteiner h1{
        margin-top: 80px;
        font-size: 70px;
    }

    h2, h2 span{
        margin-top: 50px;
        font-size: 25px;
    }
  }

    /* Responzivita tablet */
  @media only screen and (max-width: 1000px) {
    .text-conteiner h1{
        margin-top: 30%;
        font-size: 70px;
    }

    h2, h2 span{
        margin-top: 100px;
        font-size: 25px;
    }

    .main-text{
        display: flex;
        flex-wrap: wrap;
        width: 55%;
    }

    .main-text p{
        font-size: 18px;
        text-align: center;
        margin-top: 0px;
    }

    p a{
        font-size: 20px;
        text-align: center;
    }

    .main-text img{
        margin: auto;
    }
  }

    /* Responzivita tablet */
  @media only screen and (max-width: 810px) {
    .text-conteiner h1{
        margin-top: 120px;
        font-size: 60px;
    }

    h2, h2 span{
        margin-top: 70px;
        font-size: 25px;
    }


    h1{
        font-size: 70px;
    }

    .main-text{
        display: flex;
        flex-wrap: wrap;
        width: 65%;
    }

    .main-text p{
        font-size: 18px;
        text-align: center;
        margin-top: -10px;
    }

    p a{
        font-size: 22px;
        text-align: center;
    }

    .main-text img{
        margin: auto;
        height: 200px;
        margin-top: -20px;
    }
  }

  /* Responzivita mobil */

  @media only screen and (max-width: 617px) {
   
    .bg-img{
        display: none;
    }

    .text-conteiner{
        margin: auto;
        text-align: center;
        width: 85%;
    }

    .icons-conteiner{
        left: 50%;
    }

    .icons-conteiner img{
        height: 20vw;
    }

    h1{
        font-size: 35px;
    }

    .main-text{
        display: flex;
        flex-wrap: wrap;
        width: 80%;
    }

    .main-text p{
        font-size: 15px;
        text-align: center;
        margin-top: -10px;
        width: 70%;
        margin: auto;
    }

    p a{
        font-size: 4vw;
        text-align: center;
    }

    .main-text img{
        margin: auto;
        height: 200px;
        margin-top: -20px;
    }

    .main-text img{
        height: 150px;
        margin-top: -30px;
    }
  }

  


