*{
    margin: 0;
    padding: 0;
    font-family: "Krona One", sans-serif;
    font-weight: 400;
    font-style: normal;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    background-color: #12372A;   
}

.nav-bar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    position: sticky;
    background-color: #0D271E;
    padding: 15px 20px;
    z-index: 999;
}
.logo img {
    width: 50px;
    }
.menu {
    display: flex;
}
.menu li {
    padding-left: 40px;
    font-size: 20px;
    }

.menu li a {
    display: inline-block;
    text-decoration: none;
    color: rgb(255, 255, 255);
    text-align: center;
    transition: 0.5s ease-in-out;
    position: relative;
}

.menu li a::after {
    content: "";
    position: absolute;
    bottom: -7px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: rgb(255, 255, 255);
    transition: 0.5s ease-in-out;
}

.menu li a:hover:after {
    width: 100%;
    }

.open-menu , .close-menu {
    position: absolute;
    color: rgb(255, 255, 255);
    cursor: pointer;
    font-size: 1.5rem;
    display: none;
    }

.open-menu {
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}
.close-menu {
    top: 20px;
    right: 20px;
}


/*------ Konec navbaru ------*/

/*-------Zacatek Index main page------*/
    
.text-conteiner {
    text-align: center;
    width: 45%;
    margin-top: 150px;
    font-size: 20px;
    margin-left: 20px;
    
}

.icons-conteiner {
    position: absolute;
    bottom: 30px; 
    left: 25%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.icons-conteiner img {
    margin: 0  0px; 
    height: 9vw;
}

.text-conteiner h1{
    font-size: 90px;
    color: #FBFADA;
    align-items: center;
}

.text-conteiner hr{
    width: 50%;
    margin: auto;
    border: 2px solid rgb(255, 255, 255);
}

.bg-img {
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100vh;
    overflow: hidden;
}

.bg-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*------ Konec Index main page------*/
/*------- Zacatek basdic elements------*/

h1{
    font-size: 90px;
    text-align: center;
    color: #FBFADA;
    margin-top: 70px;
}

.main-text p{
    font-size: 20px;
}

hr{
    margin: auto;
    border: 2px solid rgb(255, 255, 255);
    width: 15%;
}

b{
    color: #FBFADA;
}

h2{
    font-size: 30px;
    margin-top: 80Px;
    color: #fff;
}

h3{
    font-size: 30px;
    margin-top: 80Px;
    color: #FBFADA;
}

p {
    font-size: 20px;
    margin-top: 50px;
    color: #fff;
}

p a{
    font-size: 1.3vw;
    color: #FBFADA;
}

h2 span {
    color: #FBFADA;
    position: relative;
    font-size: 30px;
}

h2 span::before {
    content: "";
    height: 30px;
    width: 2px;
    position: absolute;
    top: 50%;
    right: -8px;
    background: #FBFADA;
    transform: translateY(-45%);
    animation: blink 0.7s infinite;
}

h2 span.stop-blinking::before {
    animation: none;
}


.img-h1{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.bg-about img{
    z-index: -999;
    position: absolute
    
}
/*--------- Konec basic elements-------------*/
/*-----------Začátek About- cards------------*/

.cards-container{
    width: 70%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 130px;
}

.card{
    width: 700px;
    height: 250px;
    margin: auto;
    margin-top: 80px;
    background-color: #0a1f17;
    border-radius: 20px;
    }

.card-text{
    display: flex;
    flex-direction: column;
    float: left;
    text-align: center;
    margin-left: 20px;
    margin-top: -45px;
}

.card-text a{
    color: #ffffff;
    margin-top: 20px;
    font-size: 20px;
}

.card-text a:hover{
    color: #FBFADA;
    transition: 0.3s;
}

.card:hover{
    background-color: #10241c;
    transition: 0.3s;
}

.card h1{
    font-size: 50px;
}

.card p{
    font-size: 15px;
    margin-top: 30px;
}

.card img{
   margin-top: 40px;
   margin-left: 40Px;

}

/*-----------Konec About- cards------------*/
/*-----------Začátek Rocnik - cards------------*/

.container-rocnik{
    width: 75%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 130px;
}

.card-rocnik{
    width: 400px;
    height: 300px;
    margin: auto;
    margin-top: 80px;
    background-color: #0a1f17;
    border-radius: 20px;
    }

.card-rocnik img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 45px;
}

.card-rocnik img:hover{
    height: 210px;
    transition: 0.3s;
}

/*-----------Konec Rocnik - cards------------*/
/*-----------Zacatek About- cards------------*/
.cards-container{
    width: 70%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 130px;
}

.card{
    width: 700px;
    height: 250px;
    margin: auto;
    margin-top: 80px;
    background-color: #0a1f17;
    border-radius: 20px;
    }

.card-text{
    display: flex;
    flex-direction: column;
    float: left;
    text-align: center;
    margin-left: 20px;
    margin-top: -45px;
}

.card-text a{
    color: #ffffff;
    margin-top: 20px;
    font-size: 20px;
}

.card-text a:hover{
    color: #FBFADA;
    transition: 0.3s;
}

.card:hover{
    background-color: #10241c;
    transition: 0.3s;
}

.card h1{
    font-size: 50px;
}

.card p{
    font-size: 15px;
    margin-top: 30px;
}

.card img{
   margin-top: 40px;
   margin-left: 40Px;
}
/*-----------Konec About- cards------------*/
/*-----------Začátek SPORT------------*/


.main-element-sport h1{
    font-size: 90px;
    text-align: center;
    color: #FBFADA;
    margin-top: 70px;
}

.main-element-sport h2{
    font-size: 5vw;
    color: #FBFADA;
    
}

.main-element-sport p{
    font-size: 1.2vw;
    color: white;
    display: block;
    margin-top: 40Px;
    text-align: justify;
    width: 80%;
}


.content-obsah-sport{
    width: 70%;
    display: flex;
    flex-direction: row;
    margin: auto;
    margin-top: 50px; 
}

.content-obsah-reverse{
    width: 70%;
    display: flex;
    flex-direction: row-reverse;
    margin: auto;
    margin-top: 50px; 
}


.content-obsah img {
    margin-top: 100px;
    height: 350px; 
    border-radius: 10px;
    object-fit: cover; 
}

.content-obsah-reverse img {
    margin-top: 110px;
    height: 350px; 
    border-radius: 10px;
    object-fit: cover; 
}

.content-text a{
    color: #FBFADA;
    font-size: 1.2vw
}

.content-text-reverse{
    text-align: right;
}

.content-text-reverse p{
    float: right;
}

/*-----------Začátek SPORT------------*/

/*-----------Začátek Gallery IMG- práce------------*/
.work-gallery {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    justify-content: space-around;
}

.gallery-img-vs {
    position: relative;
    margin: 20px;
    overflow: hidden;
}

.gallery-img-vs img {
    display: block;
    transition: transform 0.5s ease, opacity 0.5s ease;
    border-radius: 10px;
}

/*-----------Začátek Hoover efect------------*/
.overlay-vs {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.5s ease;
    align-items: center;
    color: white;
    font-size: 24px;
    text-align: center;
    border-radius: 10px;
}

.overlay-vs h1{
    margin-top: 120px;
    font-size: 1.5vw
}

.overlay-vs a{
    display: flex;
    justify-content: center;
    font-size: 1000px;
    margin-top: 40Px;
}
.gallery-img-vs:hover img {
    opacity: 0.3;
}

.gallery-img-vs:hover .overlay-vs {
    opacity: 1;
}
/*-----------konec Hoover efect------------*/
/*------------Konec Gallery IMG- práce------------*/

@keyframes blink {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
/*------------Zacatek Other Gallery------------*/

.bg-about a{
    color: #FBFADA;
    font-size: 1.4vw;
    display: flex;
    justify-content: center;
}

.main-elements-other p{
    display: flex;
    justify-content: center;
}

.work-gallery {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    justify-content: space-around;
}

.work-gallery a{
    color: #FBFADA;
    font-size: 1.4vw
}

.gallery-img-other {
    position: relative;
    margin: 20px;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.gallery-img-other-hudba {
    position: relative;
    margin: 20px;
    overflow: hidden;
}

.gallery-img-other-hudba img {
    display: block;
    transition: transform 0.5s ease, opacity 0.5s ease;
    border-radius: 10px;
}

.gallery-img-other img {
    display: block;
    transition: transform 0.5s ease, opacity 0.5s ease;
    border-radius: 10px;
}

.overlay-other {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.5s ease;
    align-items: center;
    color: white;
    font-size: 24px;
    text-align: center;
    border-radius: 20px;
}


.overlay-other a{
    display: flex;
    justify-content: center;
    font-size: 30px;
    margin-top: 50%;
    text-decoration: none;
}

.gallery-img-other:hover img {
    opacity: 0.3;
}

.gallery-img-other-hudba:hover img {
    opacity: 0.3;
}

.gallery-img-other:hover .overlay-other {
    opacity: 1;
}

.gallery-img-other-hudba:hover .overlay-other {
    opacity: 1;
}

/*------------Konec Other Gallery------------*/

/*------------Zacatek ABOUUT - CODE------------*/

.vs-main-text{
    width: 50%;
    margin: auto;
}

.vs-main-text p{
    font-size: 1.3vw;
    text-align: justify;
}

.vs-text{
    width: 60%;
    margin: auto;
}

.vs-text p{
    font-size: 1.6vw;
}

.main-elements-code h2{
    font-size: 4.5vw;
    text-align: center;
    color: #FBFADA;
    margin-top: 70px;
}

.main-elements-code hr{
    margin: auto;
    border: 3px solid rgb(255, 255, 255);
    width: 15%;
    margin-top: 10px;
}

.main-elements-code p{
    font-size: 1vw;
    margin-top: 50px;
    color: #fff;
    text-align: justify;
}

.main-elements-code a{
    font-size: 1vw;
    color: #FBFADA;
    display: flex;
    justify-content: center;
}

.vs-text img{
    margin: auto;
}

.vs-code-img{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: auto;
    margin-top: 40px;
    gap: 20px;
    width: 50%;
}

.vs-code-img img{
    height: 34vw;
}

/*----------ZACATEK PROGRESS BARU---------- */
  
.skills{
    width: 100%;
    max-width: 600px;
    padding: 0 20px;
    margin: auto;
}
  
.skill-name{
    font-size: 18px;
    font-weight: 700;
    color: #f1f1f1;
    text-transform: uppercase;
    margin: 20px 0;
}
  
.skill-bar{
    height: 14px;
    background: #282828;
    border-radius: 3px;
}
  
.skill-per{
    height: 14px;
    background: #d13639;
    border-radius: 3px;
    position: relative;
    animation: fillBars 4.5s 1;
}
  
.skill-per::before{
    content: attr(per);
    position: absolute;
    padding: 4px 6px;
    background: #f1f1f1;
    border-radius: 4px;
    font-size: 12px;
    top: -35px;
    right: 0;
    transform: translateX(50%);
}
  
.skill-per::after{
    content: "";
    position: absolute;
    width: 5px;
    height: 10px;
    background: #f1f1f1;
    top: -20px;
    right: 0;
    transform: translateX(50%) rotate(45deg);
    border-radius: 2px;
}
/*----------KONEC PROGRESS BARU---------- */

/*----------ZACATEK SLIDE SWHOW---------- */
.slideshow-container {
    position: relative;
    max-width: 1000px;
    margin: auto;
    margin-top: 50px;
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
 
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #a3a3a3;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #FBFADA;
  }
  
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 0.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .7} 
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }

  
  
@keyframes fillBars{
    from{
      width: 0;
    }
    to{
      width: 100%;
    }
  }

  /*----------KONEC SLIDE SWHOW---------- */
  /*----------ZACATEK CONTACTU---------- */

  .contact-flex{
    display: flex;
    width: 80%;
    flex-direction: row;
    justify-content: center;
    margin: auto;
  }

  .contact-flex img{
    margin-top: 100px;
    margin: auto;
    height: 23vw;
  }

  .contact-form{
    width: 40%;
    height: 540px;
    display: flex;
    margin: auto;
    justify-content: center;
    flex-direction: column;
    background-color: #436850;
    margin-top: 30px;
    border-radius: 30px;
  }

.contact-input{
    display: flex;
    flex-direction: row;
}

  input{
    resize: none;
    height: 60px;
    width: 42%;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    margin-top: 50px;
    background-color: #D7D7D7;
    justify-content: space-between;
    border-radius: 10px;
  }
  textarea{
    resize: none;
    height: 300px;
    width: 92%;
    margin: auto;
    margin-top: 30px;
    background-color: #D7D7D7;
    border-radius: 10px;
}

input[type="submit"] {
    padding: 10px 20px;
    background-color: #ECECEC;
    color: black;
    border: none;
    cursor: pointer;
    margin: 15px auto;
    display: block;
    font-size: 20PX;
}

input[type="submit"]:hover {
    background-color: #a8a8a8;
    transition: 0.3S;
}

  ::placeholder{
    font-size: 20px;
  }

  .main-element-contact p{
    font-size: 1.5vw;
    width: 60%;
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 30px;
    text-align: center;
  }

  .main-element-contact h3{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    font-size: 2vw;
  }


/*----------KONEC CONTACTU---------- */
/*------------Zacatek Footru------------*/

.footer{
    right: 0;
    left: 0;
    bottom: 0;
    height: 140px;
    margin-top: 100px;
}

.footer-nav{
    font-size: 20px;
    margin-top: 0;
    display: flex;
    justify-content: center;
}

.footer-nav a{
    text-decoration: none;
    color: #FBFADA;
}

.footer-nav li{
    list-style: none;
    margin: 30px 30px;
    font-size: 15px;
}

.footer-nav img{
    margin-top: 20px;
}

.footer-text{
    display: flex;
    justify-content: center;
}

.footer-text p{
   color: #e7e7e3;
   margin-top: 20px;
   font-size: 15px;
}

/*------------Konec Footeru------------*/


/*----------Responzivita menu---------- */

    #check {display: none;}
    @media(max-width: 810px){
        .menu {
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 80%;
            height: 100vh;
            position: fixed;
            top: 0;
            right: -100%;
            z-index: 100;
            background-color: #0a1f17;
            transition: all 0.8s ease-in-out;
            }

        .menu li { 
            margin-top: 40px;
            }
        .menu li a {
            padding: 10px;
        }

    
    .open-menu , .close-menu {display: block;}
    #check:checked ~ .menu {right: 0;}
}

/*----------Responzivita menu---------- */
/*----------Responzivita puvodni sirky-- */

@media only screen and (max-width: 1920px) {
    .text-conteiner h1{
        margin-top: 80px;
        font-size: 70px;
    }

    h2, h2 span{
        margin-top: 50px;
        font-size: 25px;
    }
  }

 /*----------Responzivita puvodni sirky-- */

/*-----------Responzivita tablet------------*/
  @media only screen and (max-width: 1000px) {
    .text-conteiner h1{
        margin-top: 30%;
        font-size: 70px;
    }

    h2, h2 span{
        margin-top: 100px;
        font-size: 25px;
    }

    .main-text{
        display: flex;
        flex-wrap: wrap;
        width: 55%;
    }

    .main-text p{
        font-size: 18px;
        text-align: center;
        margin-top: 0px;
    }

    p a{
        font-size: 20px;
        text-align: center;
    }

    .main-text img{
        margin: auto;
    }

    
    .card img{
        display: none;
    }

    .card{
        display: flex;
        flex-wrap: wrap;
        width: 400px;
    }

    .card-text{
        margin: auto;
        margin-top: -40Px;
      }

    .card-text h1{
      font-size: 40px;
    }

    .card-text p{
        font-size: 12px;
      }

    .card-rocnik{
        height: 200px;
        width: 350px;
    }

    .card-rocnik img{
        height: 100px;
    }

    .main-elements-code h1{
        font-size: 9vw;
    }

    .vs-main-text p{
        font-size: 1.5vw;
    }

    .main-elements-code h2{
        font-size: 7vw;
    }

    .vs-text p{
        font-size: 2vw;
    }

    .slideshow-container{
        max-width: 700px;
    }

    .main-elements-code a{
        font-size: 1.3vw;
    }

    .vs-code-img img{
        height: 45vw;
    }

    .contact-flex{
        display: flex;
        flex-direction: column;
    }

    .contact-flex img{
        margin-top: 50px;
        height: 40vw;
    }

    .contact-form{
        width: 70%;
    }

    .main-element-contact P{
        font-size: 2vw;
    }

    .main-element-contact h3{
        font-size: 2.5vw;
    }
  }
/*-----------Responzivita tablet------------*/


/*-----------Responzivita tablet------------*/
  @media only screen and (max-width: 810px) {
    .text-conteiner h1{
        margin-top: 120px;
        font-size: 60px;
    }

    h2, h2 span{
        margin-top: 70px;
        font-size: 25px;
    }


    h1{
        font-size: 70px;
    }

    .main-text{
        display: flex;
        flex-wrap: wrap;
        width: 65%;
    }

    .main-text p{
        font-size: 18px;
        text-align: center;
        margin-top: -10px;
    }

    p a{
        font-size: 22px;
        text-align: center;
    }

    .main-text img{
        margin: auto;
        height: 200px;
        margin-top: -20px;
    }

    .work-gallery {
        width: 80%;
        display: flex;
        flex-wrap: wrap;
    }

    .gallery-img-other img{
        height: 300px;
    }

    .overlay-vs h1{
        font-size: 30px;
        margin-top: 50px;
    }

    .overlay-vs p{
        font-size: 15px;
        margin-top: 30px;
    }

    .overlay-vs a{
        font-size: 12px;
    }

    .gallery-img-vs img{
        height: 260px;
    }

    .gallery-img-vs{
        width: 90%;;
    }

    .bg-about a{
        font-size: 3vw;
    }

    .gallery-img-hudba img{
        height: 200px;
    }

    .skills{
        max-width: 460px;
    }

    .main-elements-code h1{
        font-size: 11vw;
    }

    .vs-main-text p{
        font-size: 2.4vw;
    }

    .vs-main-text{
        width: 70%;
    }

    .main-elements-code h2{
        font-size: 8vw;
    }

    .vs-text p{
        font-size: 2.5vw;
    }
    .vs-text{
        width: 70%;
    }

    .slideshow-container{
        max-width: 500px;
    }

    .main-elements-code a{
        font-size: 2.5vw;
    }

    .main-elements-code hr{
        margin-top: 4px;
    }

    .vs-code-img img{
        height: 60vw;
    }
  }

/*-----------Responzivita tablet------------*/

/*-----------Responzivita mobil------------*/

  @media only screen and (max-width: 617px) {
   
    .bg-img{
        display: none;
    }

    .text-conteiner{
        margin: auto;
        text-align: center;
        width: 85%;
    }

    .icons-conteiner{
        left: 50%;
    }

    .icons-conteiner img{
        height: 20vw;
    }

    h1{
        font-size: 65px;
    }

    .main-text{
        display: flex;
        flex-wrap: wrap;
        width: 80%;
    }

    .main-text p{
        font-size: 15px;
        text-align: center;
        margin-top: -10px;
        width: 70%;
        margin: auto;
    }

    p a{
        font-size: 4vw;
        text-align: center;
    }

    .main-text img{
        margin: auto;
        height: 200px;
        margin-top: -20px;
    }

    .footer-nav img{
        display: none;
    }

    .footer-nav li{
        font-size: 12px;
    }

    .footer-text p{
        font-size: 7px;
        margin-top: 20px;
    }

    .card{
        height: 220px;
    }

    .card-text{
        margin: auto;
        margin-top: -50Px;
        width: 95%;
      }

    .card-text h1{
      font-size: 36px;
    }

    .card-text p{
        font-size: 10px;
      }

    .work-gallery {
        width: 100%;
    }

    .gallery-img-vs img{
        height: 140px;
    }

    .overlay-other p{
        font-size: 13px;
        margin-top: 30px;
    }

    .img-h1 img{
        height: 150px;
    }
    .gallery-img-other-hudba img{
        height: 250px;
    }

    .gallery-img-other img{
        height: 300Px;
    }

    .overlay-other{
        border-radius: 10px;
    }

    .work-gallery{
        width: 100%;
    }

    .overlay-vs h1{
        margin-top: 20px;
        font-size: 25px;
    }

    .overlay-vs p{
        font-size: 8px;
        margin-top: 30px;
    }

    .overlay-vs a{
        font-size: 10px;
        margin-top: 20px;
    }

    .overlay-other a{
        font-size: 20px;
    }

    .main-elements-other p {
        width: 80%;
        margin: auto;
        text-align: center;
        margin-top: 50px;
    }

    .skills{
        max-width: 400px;
    }

    .main-elements-code h1{
        font-size: 16vw;
    }

    .vs-main-text p{
        font-size: 2.7vw;
    }
    .vs-main-text{
        width: 70%;
    }

    .main-elements-code h2{
        font-size: 14vw;
    }

    .vs-text p{
        font-size: 3.6vw;
    }
    .vs-text{
        width: 70%;
    }

    .slideshow-container{
        max-width: 400px;
    }

    .dot{
        height: 8px;
        width: 8px;
    }

    .main-elements-code a{
        font-size: 4vw;
    }

    .vs-code-img{
        display: flex;
        flex-wrap: wrap;
    }

    .vs-code-img img{
        height: 100vw;
    }

    .main-elements-code hr{
        margin-top: 4px;
    }

    .contact-flex img{
        height: 50vw;
    }

    .contact-form{
        width: 90%;
    }

    .contact-input{
        display: flex;
        flex-direction: column;
    }

    input{
        margin-top: 20px;
        width: 80%;
        height: 38px;
    }

    textarea{
        width: 80%;

    }

    input[type="submit"] {
        width: 60%;
        font-size: 20px;
        height: 60px;
    }

  }
  
